@use 'variables' as v;
.description{
    padding: 0 20px;
    &__img{
        background-image: url('../images/Web\ Developer_Flatline.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 400px;
        background-position-x: -50px;
    }
    &__about{
        border-bottom: 1px solid black;
    }
    &__name{
        color: v.$orange;
        font-size: 30px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: 700;
    }
    &__text{
        font-weight: 700;
        display: flex;
        flex-direction: column;
        height: 100px;
        text-align: center;
        width: 200px;
       
        margin: auto;
        font-size: 19px;
        color: v.$orange;
    }
    &__developer{
        font-size: 24px;
    }
    &__fullstack{
        font-size: 36px;
        color: black;
    }
}