.navbar-modal{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 280px;
    height: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: -10px 8px 10px -6px rgba($color: #000000, $alpha: .5);
    
    
    &__icon{
        text-align: right;
        font-size: 30px;
    }
    
    &__items{
        font-size: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        height: 200px;
        justify-content: space-between;
        margin-top: 20px;
    }
    &__link{
        color: black;
    }
    
    @media (min-width:1024px){
        display: none;
     }
}